<header>
  <h1>The best way to enjoy with friends.</h1>
  <p>New technologies for social network</p>
  <a href="/users/register">Join now</a>
</header>
<div class="features">
  <div class="feature">
    <h2>Completly free</h2>
  </div>
  <div class="feature">
    <h2>High performance</h2>
  </div>
  <div class="feature">
    <h2>Material design</h2>
  </div>
</div>
<div class="desc">
  <h5>CloudWay works with node js and mongodb</h5>
</div>
<div class="contribute">
  <h3>Help us to improve CloudWay network</h3>
  <h4>Contribute with code :</h4>
  <form action="/contribute" method="post">
    <input type="email" name="emailadd" placeholder="E-mail address"></input>
    <input type="text" name="fname" placeholder="Your first name"></input>
    <input type="text" name="lname" placeholder="Your last name"></input>
    <textarea name="about" rows="4" cols="40" placeholder="Type something about you..."></textarea>
    <button type="submit" id="f">Subscribe</button><a href="/" id="s">No, thanks</a>
  </form>
</div>
<footer>
  <p>Copyright &copy; 2016 CloudWay network</p>
  <ul>
    <li><a href="/termsprivacy">Terms& Privacy</a></li>&nbsp;|&nbsp;
    <li><a href="/bugreport">Report Bug</a></li>&nbsp;|&nbsp;
    <li><a href="/help">Help</a></li>
  </ul>
</footer>
