<form class="lr" action="/register" method="post">
  <div class="top">
    <h2>CloudWay</h2>
  </div>
  <div class="container">
    <input type="text" placeholder="Enter Username" name="uname" required>
    <input type="text" placeholder="Enter First Name" name="fname" required>
    <input type="text" placeholder="Enter Second Name" name="sname" required>
    <input type="email" placeholder="Email" name="mail" required>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <input type="password" placeholder="Confirm Password" name="pswc" required>
    <label>Birthdate: </label>
    <input id="age" type="text" placeholder="JJ"></input>
    <input id="age" type="text" placeholder="MM"></input>
    <input id="age" type="text" placeholder="YYYY"></input>
    <input type="checkbox" id="agree" checked="checked"> I agree licence <a href="/termsprivacy">Terms</a>
    <button id="sup" type="submit">Sign Up</button>
  </div>
</form>
